body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: rgb(124, 120, 120);
}

label {
    display: block;
    margin-top: 10px;
}


input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}


button:hover {
    background-color: #218838;
}


.filmes-lista {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.filme-item {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}


.filme-item:last-child {
    border-bottom: none;
}


.filme-item strong {
    display: block;
    margin-top: 5px;
}
